.details-content {
    margin-left: .7em;
    margin-right: .7em;
  
  
    img {
      width: 90%;
      margin:0 auto;
    }
  }
  .left-side{
    display: grid;
    justify-content: center;
  h1 {
    text-align: center;
    padding: .2rem;
  }
  }
  .info {
    line-height: 1.5em;
    padding: 10px;
  }
  .right-side {
    h2 {
      padding: 0.5em 0 0.5em 0;
    }
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 15px;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .trailer {
    margin-left: 0.5em;
    width: 17em;
  }
  
  .btn {
    margin-left: 1.5em;
    margin-top: 1em;
    font-size: 1em;
  }
  .streaming {
    position: relative;
    left: 1em;
    img {
      width: 30%;
      height: auto;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .details-content {
      text-align: left;
      display: flex;
      gap: 0.5em;
      img {
        width: 85%;
      }
    }
   
    .right-side {
      width: 80%;
      margin-top: 1em;
      margin-right: 10px;
    }
    .left-side {
      margin-left: 1em;
      width: 50%;
      display: unset;
      justify-content: unset;
      h1 {
        font-size: 1.5em;
        margin-top: 5px;
        text-align: left;
      }
    }
    .info {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 0.5em;
      row-gap: 0.5em;
      margin-bottom: 3em;
      p {
        align-self: center;
        line-height: normal;
        padding-bottom: 10px;
      }
      h2 {
        align-self: flex-start;
      }
    }
    .btn {
      margin-left: 1.7em;
    }
    .trailer {
      width: 25em;
    }
    .streaming {
      position: relative;
      left: 1em;
      img {
        width: 18%;
        height: auto;
      }
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .details-content {
      text-align: left;
      display: flex;
      gap: 2em;
    }
    .right-side {
      width: 60%;
      margin-top: 5.5em;
    }
    .left-side {
      margin-left: 2em;
      width: 50%;
      display: unset;
      justify-content: unset;
      h1 {
        text-align: left;
        padding: 0.5em 0 0.2em 0;
      }
    }
    .info {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 0.7em;
      row-gap: 0.5em;
      p {
        align-self: center;
        line-height: 1.5em;
        width: 20.5em;
      }
    }
    .trailer {
      margin-left: 0.7em;
      width: 30em;
    }
    .video-container {
      iframe {
        width: 88%;
        height: 88%;
      }
    }
    .btn {
      margin-left: 2.2em;
    }
    .streaming {
      position: relative;
      left: 1em;
      img {
        width: 20%;
        height: auto;
      }
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1200px) {
    .details-content {
      text-align: left;
      display: flex;
      gap: 1em;
    }
    .right-side {
      width: 70%;
      margin-top: 5.7em;
      & > h2 {
        padding: 2em 0 1em 0;
      }
    }
    .left-side {
      margin-left: 2em;
      width: 50%;
      display: unset;
      justify-content: unset;
      h1 {
        text-align: left;
        padding: 0.5em 0 0.2em 0;
      }
    }
    .info {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 0.7em;
      row-gap: 0.5em;
      p {
        align-self: center;
        line-height: 1.5em;
        &:nth-of-type(3) {
          width: 90%;
        }
      }
    }
    .trailer {
      margin-left: 0.8em;
      width: 35em;
    }
    .video-container {
      iframe {
        width: 80%;
        height: 78%;
      }
    }
    .btn {
      margin-left: 2.2em;
      &:hover {
        text-decoration: underline;
      }
    }
    .streaming {
      position: relative;
      bottom: 3em;
      left: 1em;
      img {
        width: 40%;
        height: auto;
      }
    }
  }
  
  @media (min-width: 1201px) {
    .details-content {
      text-align: left;
      display: flex;
      img {
        width: 75%;
      }
    }
    .right-side {
      width: 90%;
      margin-top: 5.7em;
      & > h2 {
        padding: 2em 0 1em 0;
      }
    }
    .left-side {
      margin-left: 2em;
      width: 50%;
      display: unset;
      justify-content: unset;
      h1 {
        text-align: left;
        padding: 0.5em 0 0.2em 0;
      }
    }
    .info {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 0.7em;
      row-gap: 0.5em;
      p {
        align-self: center;
        line-height: 1.5em;
        &:nth-of-type(3) {
          width: 90%;
        }
      }
    }
    .trailer {
      margin-left: 0.8em;
      width: 50em;
    }
    .video-container {
      iframe {
        width: 55%;
        height: 55%;
      }
    }
    .btn {
      margin-left: 2.3em;
      margin-top: 1.5em;
    }
    .streaming {
      position: relative;
      bottom: 12em;
      left: 1em;
      img {
        width: 10%;
        height: auto;
      }
    }
  }
  